extends layout 
block content
    .open
        p #{variable1}
        br 
        br
        br
        p #{variable2}
        br
    .Lookmatch
        a.myButtonblue(href='Privateprofile')  #{variable3}  