<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Loginscreen</title>
</head>
<body dir="rtl">
    <header>
        <img class="responsive-img" src="../image/titel2.png">
    </header>
      <h3 id="subtitle"><img class="responsive-img" src="../image/minititel.png"></h3>
    <div class="loging">
        <form action="" method="">
            <label class="Fisrt2" for="Email">דוא"ל        </label>
            <input type="email" name="Email" id="Email"><br><br>
            <label class="First2" for="Password">סיסמה    </label>
            <input type="password" name="Password" id="Password"><br> <br>
            <input type="submit" class="myButtonblue" value="התחבר/י"><br><br><br>
            <a href="newaccount.html" class="myButtongreen">צור חשבון חדש</a>   
        </form>
    </div>
</body>
</html>

<!--Site login page.
Main title, secondary title.
Preparing a mail value - does not allow another value.
Preparing a password value - seen in dots.
Option to connect or create a new account-->
