<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>a new account</title>
</head>
<body >  
    <a href="Loginscreen.html" class="Exitbutton"><img class="responsive-img" src="../image/exit.png"></a>  
    <header>
      <img class="responsive-img" src="../image/titel2.png">
    </header>
    <h2> הרשמה</h2>
    <div class="Details">
        <form  action="" method="">
            <div class="Fisrt2">
                <label  for="First name">שם פרטי  </label>
                <input type="text" name="First name" id="First name">
                <label  for="Last Name">שם משפחה </label>
                <input type="text" name="Last Name" id="Last Name"><br>
            </div>
          <div class="Fisrt2">
            <label for="ID">תעודת זהות</label>
            <input type="text" name="ID" id="ID">
            <label  for="Hometown">עיר מגורים</label>
            <input type="text" name="Hometown" id="Hometown"><br>
          </div>
          <div class="Fisrt2">
            <label  for="Phone Number"> טלפון</label>
            <input type="text" name="PhoneNumber" id="PhoneNumber">
            <label  for="Password2">סיסמה</label>
            <input type="password" name="Password2" id="Password2">
          </div>
        </form>
        <form  action="" method="">
          <div class="Fisrt2">
            <label  for="mail">דוא"ל</label>
            <input type="email" name="mail" id="mail"><br>
          </div>
          <input type="submit" class="myButtongreen" value="הרשמה">
        </form>
     
    </div>

</body>
</html>
<!--New account creation page.
header and exit button.
Entering personal details. Password is marked with dots. Email restricts a user to 
enter only email content.-->