<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script defer src="../static/javascript.js"></script>

    <title>Private profile</title>
</head>
<body dir="rtl">
    <a href="Loginscreen.html" class="Exitbutton"><img class="responsive-img" src="../image/exit.png"></a>
    <a href="Loginscreen.html" class="logout"> התנתק/י</a>
    <header>
        <img class="responsive-img" src="../image/titel2.png">
    </header>
    <nav class="nav">
      <ul class="nav-content">
          <li class="nav-list">
              <a href="Privateprofile.html" class="link-item active">
                  <img class="myprofile" src="../image/myprofile.png"> 
                  <span class="link-text">פרופיל שלי</span>   
              </a>
          </li>
          <li class="nav-list">
              <a href="personal details.html" class="link-item">
                  <img class= "editing" src="../image/editing.png">
                  <span class="link-text">עריכת פרופיל</span>
              </a>
          </li>
          <li class="nav-list">
              <a href="myrequests.html" class="link-item">
                  <img class="reguests" src="../image/reguests.png">
                  <span class="link-text">בקשות שמחכות לאישורי</span>
              </a>
          </li>
          <li class="nav-list">
              <a href="mymatch.html" class="link-item">
                  <img class="match" src="../image/mach.png">
                  <span class="link-text">התתאמות שלי</span>
              </a>
          </li>
          <span class="indicator"></span>
      </ul>
  </nav>
    <div class="open">
            <p>
                שלום , 
            </p><br><br><br>
            <p>
אנחנו נרגשים להיות חלק מתהליך הלימוד שלך.
בשביל למצוא את ההתאמה הטובה ביותר עבורך נצטרך למספר פרטים נוספים
 אז קדימה למה אתה מחכה? 
            </p><br>
    </div>
    <div class="Lookmatch">
            <a href="Lookforamatch.html" class="myButtonblue">חפש/י התאמה</a>
    </div>
</body>
</html>
<!--Personal profile page.
header and exit button.
Site navigation menu.
User Content.
Possibility to search for a match.-->